body {
  background-color:lightblue;
  color: black;
  font-family:'Courier New', Courier, monospace;
}

html, body {
  padding: 0;
}

html, body, header {
  margin: 0;
  border: 0;
}

header {
  background-color: rgb(255, 61, 94);
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}

canvas {
  position: fixed;
  left: 0px;
  top: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  overflow:hidden;
  justify-content: center;
  text-align: center;
}

nav div, nav img {
  margin: 20px;
}

nav div {
  display:flex;
  flex-direction: column;
}

nav img {
  border: 3px black solid;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

nav a {
  color:white;
  text-decoration: none;
  padding: 10px;
  border: 5px black dashed;
  margin: 2px;
}

nav a:hover {
  border-color: white;
}

/* Lijst met alle links die aparte bgcolors krijgen */

/* Games */
#kokmeeuw {
  background-color: cyan;
  color: black;
}

#nightfight {
  background-color: rgb(0,0,50);
}

#jagario {
  background-color: purple;
}

#lanes {
  background-color: blue;
}

#invaders {
  background-color: red;
}

#snake {
  background-color: chartreuse;
  color: black;
}

#connect-4 {
  background-color: red;
}

#dino {
  background-color: gray
}

#flappy {
  background-color: yellow;
  color: black;
}

#pong {
  background-color: white;
  color:black;
}
#pong:hover {
  border-color:gray;
}

#minesweeper {
  background-color: rgb(50,50,50);
}

#tictactoe {
  background-color: cornsilk;
  color: black;
}

#rps {
  background-color: blue;
}

#spacerace {
  background-color: rgb(0, 255, 217);
  color: black;
}

/* Other */
#fireworks {
  background-color: violet;
  color: black
}

#grappling {
  background-color: darkblue;
}

#driving {
  background-color: orange;
}

#golf {
  background-color: greenyellow;
  color: black;
}

#life {
  background-color: orange;
  color: black;
}

#ant {
  background-color: rgb(49, 0, 0);
  color:white;
}

#raycasting {
  background-color: red;
}

#perlin {
  background-color: gray;
}