body {
  background-color:lightblue;
  color: black;
  font-family:'Courier New', Courier, monospace;
}

nav {
  display: flex;
  flex-direction: row;
  overflow:hidden
}

nav div, nav img {
  margin: 20px;
}

nav img {
  border: 5px black dashed;
  border-radius: 50px;
}

nav a {
  color:white;
  text-decoration: none;
  padding: 10px;
  border: 5px black dashed;
}

nav a:hover {
  background-color: darkblue;
  border-color: white;
}

/* Lijst met alle links die aparte bgcolors krijgen */

#kokmeeuw {
  background-color: purple;
}